{%extends 'base.html'%} {%block head%}
<title>Cashier Dashboard</title>
{%endblock%} {%block body%}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
      <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Logout
</button>
    </form>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-outline-danger" type="submit"><a href="/logout" style="text-decoration: none; color: red">logout</a></button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>Cashier Dashboard</h1>
  <div class="row">
    <div class="col"></div>
    <div class="col-7">
      <h2>
        <span class="navbar-brand mb-0">
          <button type="button" class="btn btn-secondary btn-lg">
            <a href="/depositMoney" style="text-decoration: none; color: white"
              >Deposit Money</a
            >
          </button>
          <button type="button" class="btn btn-secondary btn-lg">
            <a href="/withdrawMoney" style="text-decoration: none; color: white"
              >Withdraw Money</a
            >
          </button>
        </button>
        <button type="button" class="btn btn-secondary btn-lg">
          <a href="/transferMoney" style="text-decoration: none; color: white"
            >Transfer Money</a
          >
        </button>
      </button>
      <button type="button" class="btn btn-secondary btn-lg">
        <a href="/showTransaction" style="text-decoration: none; color: white"
          >Show Transactions</a
        >
      </button>
        </span>
      </h2>
    </div>
    <div class="col"></div>
  </div>
  <h4>Search Account</h4>
<form action="/cashierSearchAccount" class="container-md" method="POST">
  <input
    class="form-control"
    type="search"
    placeholder="Search"
    aria-label="Search"
    name="search_Account"
  />
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-md btn-outline-success" type="submit">
      Search
    </button>
  </div>
</form>
  {%endblock%}
</div>
