{%extends 'base.html'%} {%block head%}
<title>Create Customer</title>
{%endblock%} {%block body%}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
      <button class="btn btn-outline-primary" type="submit">
        <a href="/CAEDashboard" style="text-decoration: none; color: blue"
          >Home</a
        >
      </button>
    </form>
  </div>
</nav>
<div class="container">
  <h1>Create Account</h1>
  <form action="/createCustomer" method="POST">
    <div class="d-grid gap-2 col-6 mx-auto">
      <div class="mb-3">
        <label for="accountid" class="form-label">SSN</label>
        <input
          type="text"
          class="form-control"
          id="ssn"
          aria-describedby="emailHelp"
          name="ssn"
          placeholder="ssn"
        />
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="john doe"
        />
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          name="address"
          placeholder="address"
        />
      </div>

      <div class="mb-3">
        <label for="age" class="form-label">age</label>
        <input
          type="text"
          class="form-control"
          id="age"
          name="age"
          placeholder="age"
        />
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button
          type="submit"
          class="btn btn-lg btn-primary btn-block"
          value="submit"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>

{%endblock%}
