{%extends 'base.html'%} {%block head%}
<title>Create Customer</title>
{%endblock%} {%block body%}
<div class="container">
  <h1>Create Account</h1>
  <form action="/createAccount/{{customer_id}}" method="POST">
    <div class="d-grid gap-2 col-6 mx-auto">
      <div class="mb-3">
        <label for="accountid" class="form-label">Customer Id</label>
        <input
          type="text"
          class="form-control"
          readonly
          id="accountid"
          aria-describedby="emailHelp"
          name="customer_id"
          placeholder="Customer Id"
          value=" {{customer_id}}"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputSelect" class="form-label">Account Type</label>
        <select
          class="form-select"
          aria-label="Default select example"
          id="exampleInputSelect"
          name="account_type"
        >
          <option selected>Select Account type</option>
          <option value="Saving">Saving</option>
          <option value="Current">Current</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input
          type="text"
          class="form-control"
          id="amount"
          name="balance"
          placeholder="5000"
        />
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button
          type="submit"
          class="btn btn-lg btn-primary btn-block"
          value="submit"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>

{%endblock%}
