{%extends 'base.html'%} {%block head%}
<title>Login</title>
{%endblock%} {%block body%}
<h1>Show Customer</h1>
<a href="/CAEDashboard">Home</a>
<a href="/createCustomer">Create Customer</a>
{%if customers|length < 1%}
<h4>There are no customer</h4>
{%else%}
<table>
  <tr>
    <th>SSN</th>
    <th>Customer Id</th>
    <th>Name</th>
    <th>Address</th>
    <th>Age</th>
  </tr>
  {%for customer in customers%}
  <tr>
    <td>{{customer.ssn}}</td>
    <td>{{customer.customer_id}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.age}}</td>
    <td>
      <a href="/deleteCustomer/{{customer.customer_id}}">Delete</a>
      <br />
      <a href="/updateCustomer/{{customer.customer_id}}">Update</a>
    </td>
  </tr>
  {% endfor%}
</table>
{% endif%} {%endblock%}
