{%extends 'base.html'%} {%block head%}
<title>Show Accounts</title>
{%endblock%} {%block body%}
<h1>Show Accounts</h1>
<table>
  <tr>
    <th>Account Id</th>
    <th>Customer Id</th>
    <th>Type</th>
    <th>Balance</th>
  </tr>
  {%for account in accounts%}
  <tr>
    <td>{{account.account_id}}</td>
    <td>{{account.customer_id}}</td>
    <td>{{account.account_type}}</td>
    <td>{{account.balance}}</td>
    <td>
      <a href="/deleteAccount/{{account.account_id}}">Delete</a>
    </td>
  </tr>
  {% endfor%}
</table>
{%endblock%}
