{%extends 'base.html'%} {%block head%}
<title>Update Customer</title>
{%endblock%} {%block body%}
<h1>Update Customer</h1>
<form action="/updateCustomer/{{customer.customer_id}}" method="POST">
  <input type="text" name="ssn" placeholder="ssn" value="{{customer.ssn}}" />
  <input
    type="text"
    name="name"
    placeholder="john doe"
    value="{{customer.name}}"
  />
  <input
    type="text"
    name="address"
    placeholder="address"
    value="{{customer.address}}"
  />
  <input type="text" name="age" placeholder="age" value="{{customer.age}}" />
  <input type="submit" value="update Task" />
</form>

{%endblock%}
