{%extends 'base.html'%} {%block head%}
<title>Withdraw Money</title>
{%endblock%} {%block body%}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
      <button class="btn btn-outline-primary" type="submit">
        <a href="/CashierDashboard" style="text-decoration: none; color: blue"
          >Home</a
        >
      </button>
    </form>
  </div>
</nav>
<div class="container">
  <h1>Withdraw Money</h1>
  <form action="/withdrawMoney" method="POST">
    <div class="d-grid gap-2 col-6 mx-auto">
      <div class="mb-3">
        <label for="accountid" class="form-label">Account No</label>
        <input
          type="text"
          class="form-control"
          id="accountid"
          aria-describedby="emailHelp"
          name="account_id"
          placeholder="Account No"
        />
      </div>
      <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input
          type="text"
          class="form-control"
          id="amount"
          name="amount"
          placeholder="5000"
        />
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button
          type="submit"
          class="btn btn-lg btn-primary btn-block"
          value="submit"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>

{%endblock%}
